{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Homepage</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}"/>
</head>
<body class="bg-gray-100">
    <nav class="bg-teal-500 py-2 md:py-4 shadow-lg">
        <div class="container px-4 md:flex md:items-center mx-auto">
            <a href="#" class="font-bold text-xl text-white">Welcome : )</a>
        </div>
    </nav>

    <div class="bg-teal-200 m-7 p-6">
        <div class="text-4xl text-gray-800 font-medium">Hello There 😀</div>
        <div class="mt-4">Upload & Visualize Data quickly with our reporting tool</div>
    </div>

    <div class="flex">
        <div class="w-1/2">
            <div class="m-10 font-bold text-teal-700">Upload CSV File</div>
            <div class="container mx-auto w-full max-w-xs">
                <form class="bg-teal-100 rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class = "inline-block font-bold pt-2 text-sm text-blue-500" type="file" name="file" id="file">
                    <div> <br> </div>
                    <input class="bg-violet-400 text-white font-bold py-2 px-4  rounded" type="submit" name="submit" id="">
                </form>
            </div>
        </div>
        <div class="w-1/2"></div>
    </div>


    <div class="m-10 container mx-auto font-bold text-teal-700">Property Data</div>
    <div class="container mx-auto flex justify-center">
        <div class="flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow"></div>
                <table id="table">
                    <thead>
                        <tr>
                            <th class="px-6 py-2 text-sm text-gray-500">Property Name</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Price</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Rent</th>
                            <th class="px-6 py-2 text-sm text-gray-500">EMI</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Tax</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Other Expense</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Net Expenses</th>
                            <th class="px-6 py-2 text-sm text-gray-500">Net Income</th>
                        </tr>
            
                    </thead>
                    <tbody>
                        {% for object in data_objects %}
                        <tr>
                            <td class="px-6 py-4 text-sm text-gray-500 font-bold">{{object.name}}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{object.price}}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{object.rent}}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{object.emi}}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{object.tax}}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{object.exp}}</td>
                            <td class="px-6 py-4 text-sm text-red-500">{{object.expenses_monthly}}</td>
                            <td class="px-6 py-4 text-sm text-green-500">{{object.income_monthly}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="px-6 py-4 text-sm text-gray-500 font-bold">Total</td>
                            <td id = "totalPrice" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalRent" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalEmi" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalTax" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalNetExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            <td id = "totalIncome" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="flex gap-8 m-10">
        <div class="w-1/2">
            <div class="text-teal-600 font-bold">Income Chart</div>
            <div><canvas id="myChart" width="400" height="400"></canvas></div>

        </div>



    </div>



</br>
<script>
    table = document.getElementById("table")
    // loop to calculate total price and everything else
    //declare variables to hold total
    let total_prices = 0; 
    let total_rent = 0;
    let total_emi = 0;
    let total_tax = 0;
    let total_exp = 0;
    let total_monthly_expense = 0;
    let total_monthly_income = 0;
    

    //decalre variables to hold cell value
    let net_prices;
    let net_rent;
    let net_emi;
    let net_tax;
    let net_exp;
    let net_monthly_expense;
    let net_monthly_income;
    let property_name;
    
    //declare an array for populating charts
    let net_income_array = []
    //an array to store all the names
    let name_array = []


    for (let i = 1; i < table.rows.length - 1; i++) {
        //getting values from table cells
        net_prices = table.rows[i].cells[1].innerText;
        net_rent = table.rows[i].cells[2].innerText;
        net_emi = table.rows[i].cells[3].innerText;
        net_tax = table.rows[i].cells[4].innerText;
        net_exp = table.rows[i].cells[5].innerText;
        net_monthly_expense = table.rows[i].cells[6].innerText;
        net_monthly_income = table.rows[i].cells[7].innerText;
        property_name = table.rows[i].cells[0].innerText;

        //push net_monthly_income value into net_income_aray
        net_income_array.push(net_monthly_income)
        //push all the names
        name_array.push(property_name)


        
        //Js in html treated as string, so need to be convert to int
        net_prices = parseInt(net_prices);
        net_rent = parseInt(net_rent);
        net_emi = parseInt(net_emi);
        net_tax = parseInt(net_tax);
        net_exp = parseInt(net_exp);
        net_monthly_expense = parseInt(net_monthly_expense);
        net_monthly_income = parseInt(net_monthly_income);

        //calculate the total
        total_prices += net_prices;
        total_rent += net_rent;
        total_emi += net_emi;
        total_tax += net_tax;
        total_exp += net_exp;
        total_monthly_expense += net_monthly_expense;
        total_monthly_income += net_monthly_income;
    }
    //store the value of totals according to their id:
    document.getElementById("totalPrice").innerHTML = total_prices;
    document.getElementById("totalRent").innerHTML = total_rent;
    document.getElementById("totalEmi").innerHTML = total_emi;
    document.getElementById("totalTax").innerHTML = total_tax;
    document.getElementById("totalPrice").innerHTML = total_prices;
    document.getElementById("totalExp").innerHTML = total_exp;
    document.getElementById("totalNetExp").innerHTML = total_monthly_expense;
    document.getElementById("totalExp").innerHTML = total_exp;
    document.getElementById("totalIncome").innerHTML = total_monthly_income;
    


    console.log(
        total_prices, 
        total_rent,
        total_emi,
        total_tax,
        total_exp,
        total_monthly_expense,
        total_monthly_income,
        
        
    );

// JS code for the chart
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: name_array,
        datasets: [{
            label: 'Income in Dollars',
            data: net_income_array,
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(255, 159, 64, 0.7)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});




</script>  
</body>
</html>