{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}"/>
</head>
<body>

    <form class="bg-red-100 rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class = "inline-block font-bold text-sm text-blue-500" type="file" name="file" id="file">
        <input class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" name="submit" id="">
    </form>
    <table id="table">
        <thead>
            <tr>
                <th class="px-6 py-2 text-sm text-gray-500">Property Name</th>
                <th class="px-6 py-2 text-sm text-gray-500">Price</th>
                <th class="px-6 py-2 text-sm text-gray-500">Rent</th>
                <th class="px-6 py-2 text-sm text-gray-500">EMI</th>
                <th class="px-6 py-2 text-sm text-gray-500">Tax</th>
                <th class="px-6 py-2 text-sm text-gray-500">Other Expense</th>
                <th class="px-6 py-2 text-sm text-gray-500">Net Expenses</th>
                <th class="px-6 py-2 text-sm text-gray-500">Net Income</th>
            </tr>

        </thead>
        <tbody>
            {% for object in data_objects %}
            <tr>
                <td class="px-6 py-4 text-sm text-gray-500 font-bold">{{object.name}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.price}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.rent}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.emi}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.tax}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.exp}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.expenses_monthly}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.income_monthly}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="px-6 py-4 text-sm text-gray-500 font-bold">Total</td>
                <td id = "totalPrice" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalRent" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalEmi" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalTax" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalNetExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id = "totalIncome" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
            </tr>
        </tbody>
    </table>

</br>
<script>
    table = document.getElementById("table")
    // loop to calculate total price and everything else
    //declare variables to hold total
    let total_prices = 0; 
    let total_rent = 0;
    let total_emi = 0;
    let total_tax = 0;
    let total_exp = 0;
    let total_monthly_expense = 0;
    let total_monthly_income = 0;
    

    //decalre variables to hold cell value
    let net_prices;
    let net_rent;
    let net_emi;
    let net_tax;
    let net_exp;
    let net_monthly_expense;
    let net_monthly_income;
    


    for (let i = 1; i < table.rows.length - 1; i++) {
        //getting values from table cells
        net_prices = table.rows[i].cells[1].innerText;
        net_rent = table.rows[i].cells[2].innerText;
        net_emi = table.rows[i].cells[3].innerText;
        net_tax = table.rows[i].cells[4].innerText;
        net_exp = table.rows[i].cells[5].innerText;
        net_monthly_expense = table.rows[i].cells[6].innerText;
        net_monthly_income = table.rows[i].cells[7].innerText;
        
        //Js in html treated as string, so need to be convert to int
        net_prices = parseInt(net_prices);
        net_rent = parseInt(net_rent);
        net_emi = parseInt(net_emi);
        net_tax = parseInt(net_tax);
        net_exp = parseInt(net_exp);
        net_monthly_expense = parseInt(net_monthly_expense);
        net_monthly_income = parseInt(net_monthly_income);

        //calculate the total
        total_prices += net_prices;
        total_rent += net_rent;
        total_emi += net_emi;
        total_tax += net_tax;
        total_exp += net_exp;
        total_monthly_expense += net_monthly_expense;
        total_monthly_income += net_monthly_income;
    }
    //store the value of totals according to their id:
    document.getElementById("totalPrice").innerHTML = total_prices;
    document.getElementById("totalRent").innerHTML = total_rent;
    document.getElementById("totalEmi").innerHTML = total_emi;
    document.getElementById("totalTax").innerHTML = total_tax;
    document.getElementById("totalPrice").innerHTML = total_prices;
    document.getElementById("totalExp").innerHTML = total_exp;
    document.getElementById("totalNetExp").innerHTML = total_monthly_expense;
    document.getElementById("totalExp").innerHTML = total_exp;
    document.getElementById("totalIncome").innerHTML = total_monthly_income;
    


    console.log(
        total_prices, 
        total_rent,
        total_emi,
        total_tax,
        total_exp,
        total_monthly_expense,
        total_monthly_income,
        
        
    );

</script>  
</body>
</html>